/* HEADER CONTENT */
.container {
  width: 100%; }

.header {
  position: relative; }
  .header img {
    width: 100%; }

/* NAV CONTENT */
.navigation {
  width: 100%;
  text-align: center; }
  .navigation li {
    float: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 10px; }
  .navigation a {
    color: #181818;
    text-decoration: none; }
  .navigation a:hover {
    color: #797979; }
  .navigation ul li.scrollTop {
    float: right; }

/* mobile nav */
@media (min-width: 0px) and (max-width: 749px) {
  .mainnav {
    display: none; }

  .navbar {
    margin: 0px; }

  .navbar-inverse p {
    padding: 12px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px; } }
@media (min-width: 750px) and (max-width: 830px) {
  .navbar-inverse {
    display: none; }

  .navigation li {
    font-size: 14px;
    font-family: 'Poppins', sans-serif; } }
@media (min-width: 750px) and (max-width: 1700px) {
  .navbar-inverse {
    display: none; } }
/* Description section */
.desc {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding: 50px;
  color: white; }

.description {
  background-color: #d9d9d9; }

u {
  text-decoration-color: #ED1F23; }

/* mobile description */
@media (min-width: 0px) and (max-width: 749px) {
  .desc {
    font-size: 14px; } }
@media (min-width: 750px) and (max-width: 880px) {
  .desc {
    font-size: 14px; } }
/* teaching section */
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #181818;
  padding-top: 25px;
  padding-bottom: 45px;
  text-align: center; }

.teaching {
  background-color: white;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }
  .teaching ul {
    list-style-type: none; }

.bibref {
  color: #797979;
  padding-right: 10px;
  padding-left: 10px; }

.row2 {
  margin-top: -29px;
  margin-bottom: 29px; }

.watch {
  color: #F2721E;
  font-weight: 700; }

/* mobile teaching */
@media (min-width: 0px) and (max-width: 749px) {
  .teaching {
    font-size: 14px; } }
/* ART SECTION: JOY */
.title-joy {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: white;
  background-color: #FBAF19;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-top: -10px; }

.joy {
  background-color: #f2f2f2;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 500px; }
  .joy img {
    width: 100%; }

.art {
  background-color: #f2f2f2;
  height: 400px; }

#myCarousel {
  font-family: 'Poppins', sans-serif;
  text-shadow: none; }

/* discussion questions */
.questions {
  background-color: white;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }
  .questions p {
    margin-bottom: 30px; }

/* songs section */
.songs {
  background-color: white;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }
  .songs p {
    margin-bottom: 30px; }

/* footer */
footer {
  background-color: #ED1F23; }
  footer img {
    width: 20%;
    display: block;
    margin: 0 auto; }

/* resources */
.grid.button {
  margin: 0 auto; }

.grid {
  padding: 50px;
  text-align: center; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px; }
  .wrapper img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%; }

/*# sourceMappingURL=style.css.map */
