
$yellow: #FBAF19;
$orange: #F2721E;
$red: #ED1F23;
$gray: #f2f2f2;
$dgray: #d9d9d9;

$title: #181818;
$body: #797979;



/* HEADER CONTENT */

.container {
  width: 100%;
}

.header {
  position: relative;

  img {
    width: 100%;
  }
}

/* NAV CONTENT */

.navigation {
    width: 100%;
    text-align: center;

  li {
    float: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  a {
    color: $title;
    text-decoration: none;
  }

  a:hover {
    color: $body;
  }

  ul li.scrollTop {
    float: right;
  }
}


/* MOBIE NAV */


@media (min-width: 0px) and (max-width: 749px) {

    .mainnav {
      display: none;
    }

    .navbar {
      margin: 0px;
    }

    .navbar-inverse {
      p {
        padding: 12px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
      }
    }
  }

@media (min-width: 750px) and (max-width: 830px) {

    .navbar-inverse {
      display: none;
    }

    .navigation li {
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
    }
 }

@media (min-width: 750px) and (max-width: 4700px) {

    .navbar-inverse {
      display: none;
    }
 }


/* DESCRIPTION SECTION */

.desc {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding: 50px;
  margin: 0 auto;
  padding-top: 70px;
  width: 70%;
  padding-bottom: 70px;
  color: $title;

  span {
    text-decoration: underline;
    text-decoration-color: $red;
  }
}

.description {
  background-color: $dgray;
}

/* MOBILE DESCRIPTION */


@media (min-width: 0px) and (max-width: 749px) {

  .desc {
    font-size: 14px;
    width: 100%;
  }
 }

@media (min-width: 750px) and (max-width: 880px) {

    .desc {
      font-size: 14px;
      width: 100%;
    }
 }

/* TEACHING SECTION */

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: $title;
  padding-top: 100px;
  padding-bottom: 45px;
  text-align: center
}

.teaching {
  background-color: white;
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;

  ul {
    list-style-type: none;
  }
}

.bibref {
  color: $body;
  padding-right: 10px;
  padding-left: 10px;
}

.row2 {
  margin-top: -29px;
  margin-bottom: 29px;
}

.watch {
  color: $orange;
  font-weight: 700;
}

button.reading {
  margin-top: 50px;
  font-size: 25px;
  background-color: $yellow;
  border-radius: 1px;
}

button.reading:hover{
  background-color: $red;
}

button.btn.watch.reading a {
  color: white;
  text-decoration: none
}

a.reading {
  font-size: 55px;
  display: flex;
  text-align: center;
  color: $yellow;
  margin: 0 auto;
  justify-content: center;
}

/* MOBILE TEACHING */

@media (min-width: 0px) and (max-width: 749px) {

  .teaching {
    font-size: 14px;
  }

 }


/* ART SECTION: JOY */

.title-joy {
  font-family: 'Poppins', sans-serif;
  color: $title;
  background-color: $dgray;
  padding-top: 35px;
  font-size: 35px;
  padding-bottom: 35px;
  width: 100%;
  text-align: center;
  margin-bottom: -5px;
}

.joy {
  background-color: $gray;
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 500px;
}

.art {
  background-color: $gray;
  height: 400px;
}

#myCarousel {
  font-family: 'Poppins', sans-serif;
  text-shadow: none;
}

img.carousel-image {
  height: auto;
  max-width: 100%;
  float: left;
  border: none;
}

.carousel-caption {
    text-shadow: none;
    color: white;
    padding-right: 400px;
    text-align: center;
    position: relative;
    padding-top: 620px;

h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
}

.carousel-control.right,
.carousel-control.left
 {
 background-image: none;
}

.carousel {
  margin-left: -15px;
  background: $yellow;
  background: linear-gradient(to left, rgba(251,175,25,1), rgba(251,175,25,.35));
  height: 100%;
  margin-right: -15px;
}

.glyphicon.glyphicon-chevron-left,
.glyphicon.glyphicon-chevron-right {
  margin-top: 200px;
}

/* mobile joy */

@media only screen and (min-width: 959px){

.carousel .item img {
   width: 60%;
}

.carousel-caption {
    bottom: 0;
    float: left;
    left: auto;
    position: relative;
    right: 0;
    text-shadow: none;
    padding-top: 80px;
    padding-right: 120px;
    padding-left: 40px;
    color: white;
    text-align: left;
    top: 0;
    width: 40%;
}

}

@media (min-width: 340px) and (max-width: 410px) {

.carousel-caption {
  padding-top: 300px;
  font-size: 8px;
  width: 100%;
  padding-right: 120px;
}

}

@media (min-width: 410px) and (max-width: 500px) {

.carousel-caption {
  padding-top: 320px;
  font-size: 8px;
  width: 100%;
  padding-right: 120px;
}

}

@media (min-width: 501px) and (max-width: 600px) {
  .carousel-caption {
    padding-top: 375px;
    font-size: 8px;
    width: 100%;
    padding-right: 190px;
  }
}

@media (min-width: 601px) and (max-width: 700px) {

  .carousel-caption {
    padding-top: 435px;
    font-size: 10px;
    width: 100%;
    padding-right: 220px;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
.carousel-caption {
  padding-top: 495px;
  font-size: 10px;
  width: 100%;
  padding-right: 330px;
}
}

@media (min-width: 801px) and (max-width: 900px) {

  .carousel-caption {
    padding-top: 555px;
    font-size: 10px;
    width: 100%;
    padding-right: 350px;
  }
}

@media (min-width: 960px) and (max-width: 1100px) {

  .carousel-caption {
     padding-top: 40px;
    font-size: 12px;
  }

  .glyphicon.glyphicon-chevron-left,
  .glyphicon.glyphicon-chevron-right {
    margin-top: 130px;
  }

}

@media (min-width: 1101px) and (max-width: 1300px) {

    .glyphicon.glyphicon-chevron-left,
    .glyphicon.glyphicon-chevron-right {
      margin-top: 150px;
    }

  .carousel-caption {
     padding-top: 70px;
    font-size: 12px;
  }

}



/* STUDY QUESTIONS */

.questions {
  background-color: white;
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;

  p {
    margin-bottom: 30px;
  }

  ul {
    list-style-type: none;
    text-decoration: none;
  }

}

.modal-content {
  border: none;
  border-radius: 0;

}

.modal-header {
  text-align: center;
  color: $red;
}


.modal-title {
  padding-top: 15px;
  font-size: 20px;
}

button.btn.btn-primary {
  background-color: $red;
  border-radius: 0;
  border: none;
  color: white;
}


/* MOBILE STUDY QUESTIONS */

@media only screen and (max-width: 650px){
    .questions {
    font-size: 14px;
  }
}


/* SONGS */


.songs {
  background-color: white;
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;

  p {
    margin-bottom: 30px;
  }

  ul {
    padding-top: 45px;
    list-style-type: none;
  }
}

iframe{
  clear: both;
}

div.iframe {
  margin: auto;
    width: 300px;
}


div.main {
  display: inline;
  margin: 0 auto;
}

.spotify {
  text-align: center;
  font-size: 12px;
}

#songsmodal {
  .modal-body{
    p {
      list-style-type: armenian;
    }
    a {
      background-color: $dgray;
      margin-bottom: 15px;
      border-radius: 1px;
    }
  }
}

/* MAP */

.title.map {
  background: $orange;
  background: linear-gradient(to right, rgba(242,114,30,1), rgba(242,114,30,.65));
  color: white;
  padding-top: 35px;
  margin-bottom: -5px;
}

/* MEMORIZING SCRIPTURE */


.card-body {
  width: 100%;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}

.memory {
  background-color: $gray;
  padding-bottom: 100px;
}

#memory {

  ul {
    list-style-type: none;
  }

  button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $orange;
  }

}

/* FOOTER */

footer {
background-color: $red;
background: linear-gradient(to right, rgba(237,31,35,1), rgba(237,31,35,.75));

  img {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}

/* MOBILE FOOTER */

@media (max-width: 750px) {

  footer {
    img {
      width: 50%;
    }
  }
}

@media (min-width: 751px) and (max-width: 951px) {

  footer {
    img {
      width: 30%;
    }
  }
}

/* RESOURCES */


.grid.button {
margin: 0 auto;
}

.grid{
padding: 50px;
text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;

   img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
  }
}
